version: "3.7"
services:
  liamsarsfielddev-1:
    image: node:16.14.0-alpine
    command: sh -c "yarn global add @quasar/cli && yarn install && quasar dev"
    ports:
      - 8080:80
    working_dir: /app
    volumes:
      - ./:/app
    environment:
      # Needed for Tailwind CSS JIT
      CHOKIDAR_USEPOLLING: 1
